body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
html,body{margin:0;padding:0;height:100%;}
body{position:relative; min-width:1000px;font:12px "KaiTi","Microsoft YaHei","SimSun","HELVETICA";background:#ffffff;-webkit-text-size-adjust:100%;}
a{text-decoration:none}
a:focus{outline:none;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

.fl{float:left;}
.fr{float:right;}

.menus{position:fixed; z-index:99; top:10px; left:10px; width:48px;  border-radius:24px; background:rgba(0,0,0,0.1); overflow:hidden;}
.menus .menu{margin:auto; width:36px; height:36px; padding:6px; opacity:0.7; animation:sun 12s linear infinite; -webkit-animation:sun 12s linear infinite;}
.menus:hover .menu{opacity:1; animation-play-state:paused;}
@keyframes sun { 0%{transform:rotate(0deg);} 50%{transform:rotate(180deg);} 100%{transform:rotate(360deg);}}
@-webkit-keyframes sun { 0%{transform:rotate(0deg);} 50%{transform:rotate(100deg);} 100%{transform:rotate(360deg);} }
.menus .ls{position:relative; padding:0 2px; height:0; overflow:hidden; transition:height 0.3s linear;}
.menus:hover .ls{height:144px;}
.menus .ls a{display:block; position:absolute; left:0; top:-60px; width:28px; height:28px; padding:10px;}
.menus .ls a .img{width:100%; height:100%; filter:brightness(80%);}
.menus .ls a:hover{background: rgba(0,0,0,0.2);}
.menus .ls a:hover .img{filter:brightness(110%);}
.menus:hover .ls .mn1{top:0; transition:top 0.2s linear; z-index:3;}
.menus:hover .ls .mn2{top:48px; transition:top 0.25s linear; z-index:2;}
.menus:hover .ls .mn3{top:96px; transition:top 0.3s linear; z-index:1;}

#content{position:absolute; left:0; top:0; right:0; bottom:0; z-index:1;background:#232323;}
#content .bg_canvas{position:absolute;margin:0;padding:0;border:0;width:100%;height:100%;}
#content .bg_points{position:absolute;top:0;left:0;margin:0;padding:0;width:100%;height:100%;background:url(../src/public/public/bg-point.png) repeat;opacity:0.5;}
#content .cont{position:absolute;width:100%;height:100%;z-index:2;overflow-x:hidden;}
#content .contBgcolor{background:#404040;}
/*遮罩层样式*/
.mask{position:absolute;position:fixed;top:0;left:0;min-height:600px;height:100%;width:100%;border:0;z-index:30;overflow:hidden; text-align:center;background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.mask .addClose{position:absolute;top:16px;right:16px;width:30px;height:30px;cursor:pointer;font-size:30px;color:#ffffff;font-weight:bold;z-index:998;text-shadow: 0 0 12px #333333;}
.mask .addClose:hover{color:#ff0000;}
.mask .box{display:none;position:absolute;top:50%;left:50%;transform: translateY(-50%);-ms-transform: translateY(-50%);width:400px;margin-left:-200px;background:#ffffff;overflow:hidden;}
.mask .box{top:300px/9;}
.mask .box .title{height:38px;background:#404040;border-bottom:1px solid #000000;}
.mask .box .title span{display:block;float:right;width:32px;height:32px;cursor:pointer;font-size:24px;line-height:38px;text-align:center;color:#ffffff;}
.mask .box .title span:hover{font-size:30px;}
.mask .box p{padding:44px 20px;text-align:center;font-size:22px;line-height:100%;}
.mask .box .btns{height:50px;border-top:1px solid #cccccc;text-align:center;line-height:50px;background:#ffffff;}
.mask .box .btns input[type='button']{margin:0 30px;min-width:100px;height:36px;border:none;border-radius:5px;font-size:18px;cursor:pointer;}
.mask .box .btns input[type='button']:hover{border:1px solid #5555ff;}
.mask .box .btns input[type='button']:focus{outline:none;}

.toast{display:none; position:absolute; bottom:50px; left:50%; transform: translateX(-50%); padding:16px; border-radius:10px; line-height:22px; font-size:16px; text-align:center; background:rgba(0,0,0,0.5); color:#ffffff; z-index:999;}
.toast.show{display:block;}
/* 流量统计 */
#cnzz_stat_icon_1273638543{position:absolute;z-index:3;right:0;bottom:0;}